<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faculty_service_tracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faculty_service_tracker">
        <activity
            android:name=".FormReviewPage2"
            android:exported="false" />
        <activity
            android:name=".FormReviewPage1"
            android:exported="false" />
        <activity
            android:name=".create_service_form.create_services"
            android:exported="false" />
        <activity
            android:name=".change_password_page"
            android:exported="false" />
        <activity
            android:name=".edit_account_page"
            android:exported="false" />
        <activity
            android:name=".profile_details_page"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".teacher_notif_page"
            android:exported="false" />
        <activity
            android:name=".services_page"
            android:exported="false"
            android:parentActivityName=".AdminHomePage" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".TeacherHomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>